[submodule "src/isaac_ros_common"]
	path = src/isaac_ros_common
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_common.git
[submodule "src/isaac_ros_pose_estimation"]
	path = src/isaac_ros_pose_estimation
	url = https://github.com/NVIDIA-ISAAC-ROS/isaac_ros_pose_estimation.git
